<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">

    <title>MyBrokerAdminConsole</title>

<!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- JQuery UI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- html to json plugin: https://www.npmjs.com/package/table-to-json -->
    <script src="/scripts/jquery.tabletojson.js"></script>

<!-- JQuery section -->
<script>
$( function(){
  $("#over100").dialog({ 
     autoOpen: false,   
     classes: {
        "ui-dialog": "error"
     } 
     });
} );
</script>
<!-- End JQuery section -->

<% include ../classDefinitions %>


<% include ../stylesheets/adminstyle %>


  </head>
  <body>
    <div class="workspace">

<!-- AdminConsole layout -->
      <div class="topline">MY BROKER ADMIN CONSOLE</div>
      <div class="sidemenu" id="menuprincipal">
       
          <button onclick="listProfiles()">Profiles</button>
          <button onclick="listUsers()">Users</button>
       
      </div>


<div id="container" class="main">
<!-- --------------- START div's for PROFILES -------------- -->    

<!-- div for displaying the list of available profiles.
    the script section at the end of the file contains the initialization function listProfiles() -->
      <div id="profileList" class="profileList">
        <p>PROFILE LIST </p> 
        <button id="createProfile" onclick="createProfile()"> New... </button>
        <div style="overflow-x:auto;">

<% include tableProfiles %>   

        </div>
      </div>
      
<!-- div for creating a new profile. -->
      <div id="newProfile" class="newProfile">
        <p style="text-align: center;">DEFINE NEW PROFILE</p>

<% include tableNewProfile %>   

        <button id="addTicker" onclick="addTickerRow('profileTickers','targetCash','targetClass')"> Add </button>
        <button id="saveProfile"> Save </button> 
        <button id="cancel" onclick="cancel()"> Cancel </button>
      </div>

<!-- div for updating an existing profile. -->      
      <div id="updateProfile" class="newProfile">
        <p style="text-align: center;">UPDATE PROFILE <span id="updateProfileName" style = "color:white;font-weight:bold;text-transform:uppercase;"></span> 
        (<span id="updateProfileRisk" style = "color:white;font-weight:bold;"></span>)</p>

<% include tableUpdateProfile %>   

        <button id="insertTicker" onclick="addTickerRow('updateProfileTickers','updateTargetCash','updateTargetClass')"> Add </button>
        <button id="saveUpdatedProfile"> Save </button> 
        <button id="cancel" onclick="cancel()"> Cancel </button>

      </div>
    
<!-- --------------- END div's for PROFILES ------------ --> 

<!-- --------------- START div's for USERS ------------- --> 
<!-- div for displaying the list of USERS.
    the script section at the end of the file contains the initialization function listUsers() -->
      <div id="userList" class="userList">
        <p>USER LIST </p> 
        <button id="createUser" onclick="createUser()"> New... </button>
        <div style="overflow-x:auto;">

<% include ./useradmin/tableUsers %>   

        </div>
      </div>
      

<!-- --------------- END div's for USERS ------------ --> 
<!-- --------------- START div's for MANAGE USER ------------ -->
      <div id="manageUser" class="manageUser">
        <p id="titleManagedUser">filled by manageUser function</p> 
        <button id="addAccount" onclick="addAccount('filled_by_manageUser_function')"> Add Account... </button>
        <div style="overflow-x:auto;">

<% include ./useradmin/tableUserAccounts %>   

        </div>
      </div>
<!-- add account -->       
      <div id="createAccount" class="manageUser">
        <p id="accountCreation">filled by manageUser function</p> 
        Account nickname: <input type="text" name="accountNickname"><p>
        Account type: <select name="accountType">
            <option value ="S">Sandbox</option>
            <option value ="R">Real Money</option>
        </select> 
        

        <div style="overflow-x:auto;">

<% include ./accountadmin/createUserAccount %>   

        </div>
      </div>
<!-- --------------- END div's for MANAGE USER ------------ -->

    </div>
       
</div>    
</div>
<% include dialogs %>    
<script>
      /* Retrieve access to <div> elements for JavaScript control */
      const newProfileListDiv = document.querySelector("#profileList");
      const newProfileDiv = document.querySelector("#newProfile");
      const updateProfileDiv = document.querySelector("#updateProfile");
      const profileListDiv = document.querySelector("#profileList");
      const userListDiv = document.querySelector("#userList");
      const manageUserDiv = document.querySelector("#manageUser");
      const createAccountDiv = document.querySelector("#createAccount");
           
      class Ticker {
        constructor(symbol,target,exchange) {
        	this.symbol=symbol;
        	this.target=target;
        	this.exchange=exchange;
        }
      }
      
      class Profile {
        constructor(name,risk) {
          this.profileName=name;
          this.risk=risk;
        }
      }

<% include saveprofile %>
<% include tickerfeed %>


<% include functionsCRUDProfile %> 
<% include ./useradmin/functionsCRUDUser %>
<% include ./accountadmin/functionsCRUDaccount %>           
<% include functionsUtil %> 

<% include initialize %> 

</script>
  </body>
</html>
