<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>MyBrokerAdminConsole</title>
    <% include ../stylesheets/adminstyle %>
  </head>
  <body>
    <div class="workspace">
      <div class="topline">MY BROKER ADMIN CONSOLE</div>
      <div class="sidemenu" id="menuprincipal">
        <ul>
          <li><a class="active" href="Profiles">Profiles</a></li>
          <li><a href="Users">Users</a></li>
          <li><a href="Accounts">Accounts</a></li>
          <li><a href="Abaoot">Blah</a></li>
        </ul>
      </div>
      <div class="profilelist">
        <p>PROFILE LIST </p>
        <input name="New..." value=" New... " form="ProfileCommand" class="newProfile"
cristina2009="" c="" type="submit"> <input name="Modify" value=" Edit..." form="ProfileCommand"
type="submit"> <input name="Delete" value=" Delete " form="ProfileCommand" type="submit">
      </div>
      <div class="newprofile">
        <p style="text-align: center;">DEFINE NEW PROFILE</p>
        <input name="Add" value="Add..." form="ProfileCommand" type="submit"> <input
name="Save" value=" Save " form="ProfileCommand" class="saveNewProfile" type="submit">
        <input name="Cancel" value=" Cancel " form="ProfileCommand" class="cancelNewProfile"
type="submit"> </div>
      <div class="newTicker">
        <p style="text-align: center;">ADD A NEW SYMBOL TO THE PROFILE </p>
        <input name="Check" value=" Check " form="ProfileCommand" class="saveNewProfile"
type="submit"> <input name="Save" value=" Save " form="ProfileCommand" class="saveNewProfile"
type="submit"> <input name="Cancel" value=" Cancel " form="ProfileCommand" class="cancelNewProfile"
type="submit"> </div>
    </div>
    <script>
      const newProfile = document.querySelector('.newProfile');
      const newprofilediv = document.querySelector('.newprofile');
      const cancelNewProfilediv = document.querySelector('.cancelNewProfile');
        
      function createProfile() {
        newprofilediv.style.zIndex=10; 
      }
      function cancelNewProfile() {
        newprofilediv.style.zIndex=-1; 
      }  
      newProfile.addEventListener('click',createProfile); 
      cancelNewProfilediv.addEventListener('click',cancelNewProfile); 
    </script>
  </body>
</html>
