<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">

    <title>MyBrokerAdminConsole</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- html to json plugin: https://www.npmjs.com/package/table-to-json -->
    <script src="/scripts/jquery.tabletojson.js"></script>

<script>    
<!-- JQuery section -->
$(document).ready(function(){ });
</script>
<!-- End JQuery section -->

<% include ../stylesheets/adminstyle %>

  </head>
  <body>
    <div class="workspace">

  <!-- AdminConsole layout -->
      <div class="topline">MY BROKER ADMIN CONSOLE</div>
      <div class="sidemenu" id="menuprincipal">
        <ul>
          <li><a class="active" href="Profiles">Profiles</a></li>
          <li><a href="Users">Users</a></li>
          <li><a href="Accounts">Accounts</a></li>
          <li><a href="Abaoot">Blah</a></li>
        </ul>
      </div>
      <div id="profileList" class="profileList">
        <p>PROFILE LIST </p>
        <div style="overflow-x:auto;">

<% include tableProfiles %>   

        </div>
        <button id="createProfile" onclick="createProfile()"> New... </button>
        <input name="Modify" value=" Edit..." form="ProfileCommand" type="submit">
        <input name="Delete" value=" Delete " form="ProfileCommand" type="submit">
      </div>
      <div id="newProfile" class="newProfile">
        <p style="text-align: center;">DEFINE NEW PROFILE</p>

<% include tablesNewProfile %>   

        <button id="addTicker" onclick="addTickerRow('profileTickers','targetCash','targetClass')"> Add </button>
        <button id="saveProfile"> Save </button> 
        <input name="Cancel" value=" Cancel " form="ProfileCommand" class="cancelNewProfile" type="submit">
      </div>
      
      <div id="updateProfile" class="newProfile">
        <p style="text-align: center;">UPDATE PROFILE <span id="updateProfileName" style = "color:white;font-weight:bold;text-transform:uppercase;"></span> 
        <span id="updateProfileRisk" style = "color:white;font-weight:bold;"></span></p>

<% include updateProfile %>   

        <button id="insertTicker" onclick="addTickerRow('updateProfileTickers','updateTargetCash','updateTargetClass')"> Add </button>
        <button id="saveUpdatedProfile"> Save </button> 
        <input name="Cancel" value=" Cancel " form="ProfileCommand" class="cancelNewProfile" type="submit">
      </div>
      <div id="newTicker" class="newTicker">
        <p style="text-align: center;">ADD A NEW SYMBOL TO THE PROFILE </p>
        <input name="Check" value=" Check " form="ProfileCommand" class="saveNewProfile" type="submit"> 
        <input name="Save" value=" Save " form="ProfileCommand" class="saveNewProfile" type="submit"> 
        <input name="Cancel" value=" Cancel " form="ProfileCommand" class="cancelNewProfile" type="submit">
      </div>
    </div>
    
    <script>
      /* Retrieve access to <div> elements for JavaScript control */
      const newProfileListDiv = document.querySelector("#profileList");
      const newProfileDiv = document.querySelector("#newProfile");
      const newTickerDiv = document.querySelector("#newTicker");
      const updateProfileDiv = document.querySelector("#updateProfile");
           
      class Ticker {
        constructor(symbol,target,exchange) {
        	this.symbol=symbol;
        	this.target=target;
        	this.exchange=exchange;
        }
      }
      
      class Profile {
        constructor(name,risk) {
          this.profileName=name;
          this.risk=risk;
        }
      }

<% include saveprofile %>
<% include listprofiles %>
<% include tickerfeed %>

<% include functionCreateProfile %>      
<% include functionAddTickerRow %>
<% include editprofile %>  

    </script>
  </body>
</html>
