<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">

    <title>MyBrokerAdminConsole</title>

<!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- JQuery UI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- html to json plugin: https://www.npmjs.com/package/table-to-json -->
    <script src="/scripts/jquery.tabletojson.js"></script>

<!-- JQuery section -->
<script>
$( function(){
  $("#over100").dialog({ 
     autoOpen: false,   
     classes: {
        "ui-dialog": "error"
     } 
     });
} );
</script>
<!-- End JQuery section -->

<% include ../stylesheets/adminstyle %>

  </head>
  <body>
    <div class="workspace">

<!-- AdminConsole layout -->
      <div class="topline">MY BROKER ADMIN CONSOLE</div>
      <div class="sidemenu" id="menuprincipal">
        <ul>
          <li><a class="active" href="Profiles">Profiles</a></li>
          <li><a href="Users">Users</a></li>
          <li><a href="Accounts">Accounts</a></li>
          <li><a href="Abaoot">Blah</a></li>
        </ul>
      </div>

<!-- div for displaying the list of available profiles.
    the script section at the end of the file contains the initialization function listProfiles() -->
      <div id="profileList" class="profileList">
        <p>PROFILE LIST </p> 
        <button id="createProfile" onclick="createProfile()"> New... </button>
        <div style="overflow-x:auto;">

<% include tableProfiles %>   

        </div>
      </div>
      
<!-- div for creating a new profile. -->
      <div id="newProfile" class="newProfile">
        <p style="text-align: center;">DEFINE NEW PROFILE</p>

<% include tableNewProfile %>   

        <button id="addTicker" onclick="addTickerRow('profileTickers','targetCash','targetClass')"> Add </button>
        <button id="saveProfile"> Save </button> 
        <button id="cancel" onclick="cancel()"> Cancel </button>
      </div>

<!-- div for updating an existing profile. -->      
      <div id="updateProfile" class="newProfile">
        <p style="text-align: center;">UPDATE PROFILE <span id="updateProfileName" style = "color:white;font-weight:bold;text-transform:uppercase;"></span> 
        (<span id="updateProfileRisk" style = "color:white;font-weight:bold;"></span>)</p>

<% include tableUpdateProfile %>   

        <button id="insertTicker" onclick="addTickerRow('updateProfileTickers','updateTargetCash','updateTargetClass')"> Add </button>
        <button id="saveUpdatedProfile"> Save </button> 
        <button id="cancel" onclick="cancel()"> Cancel </button>

      </div>
      
    </div>
    
<% include dialogs %>    
    <script>
      /* Retrieve access to <div> elements for JavaScript control */
      const newProfileListDiv = document.querySelector("#profileList");
      const newProfileDiv = document.querySelector("#newProfile");
      const updateProfileDiv = document.querySelector("#updateProfile");
           
      class Ticker {
        constructor(symbol,target,exchange) {
        	this.symbol=symbol;
        	this.target=target;
        	this.exchange=exchange;
        }
      }
      
      class Profile {
        constructor(name,risk) {
          this.profileName=name;
          this.risk=risk;
        }
      }

<% include saveprofile %>
<% include tickerfeed %>


<% include functionsCRUDProfile %>      
<% include functionsUtil %> 
<% include initialize %> 

    </script>
  </body>
</html>
