
        <p> </p>
        <table id="updateProfileTickers" class="fullwidth">
          <tbody>
            <tr>
              <th>Ticker</th>
              <th>Exch.</th>
              <th>Target %</th>
              <th>Current Value</th>
            </tr>
            <tr>
              <td>Cash</td>
              <td>N/A</td>
              <td id="updateTargetCash">100</td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="overflow-x:auto;"> ... profile content ...
          <table id="profileTable">
          </table>
        </div>