        <table class="center">
          <tbody>
            <tr>
              <td>Profile name:</td>
              <td><input default="temp" size="10" onchange="(function(t){newProfile.profileName=t;console.log(newProfile);})(this.value)"
                  type="text"></td>
              <td >Risk level:</td>
              <td>
                <select id="risktypes" onchange="(function(r){newProfile.risk=r;console.log(newProfile);})(this.value)">
                  <option value="S">Speculation</option>
                  <option value="H">Haut</option>
                  <option value="M" selected="selected">Moyen</option>
                  <option value="F">Faible</option>
                  <option value="P">PouettePouette</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <p> </p>
        <table id="profileTickers" class="fullwidth">
          <tbody>
            <tr>
              <th>Ticker</th>
              <th>Exch.</th>
              <th>Target %</th>
              <th>Current Value</th>
            </tr>
            <tr>
              <td>Cash</td>
              <td>N/A</td>
              <td id="targetCash">100</td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="overflow-x:auto;"> ... profile content ...
          <table id="profileTable">
          </table>
        </div>