       <table id="profilesTable" class="fullwidth">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Type</th>
            </tr>
          </tbody>
       </table>