
        <p> </p>
        <table id="updateProfileTickers" class="fullwidth">
          <tbody>
            <tr>
              <th>Ticker</th>
              <th>Exch.</th>
              <th>Target %</th>
              <th>Current Value</th>
            </tr>

          </tbody>
        </table>
        <div style="overflow-x:auto;"> ... profile content ...
        </div>